body
{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: auto;

    a
    {
        &:hover
        {
            opacity: 0.8;
        }
        &:active
        {
            opacity: 0.6;
        }
    }


    header
    {
        padding: 10px 2px;
        margin: 0;

        @media screen and (max-width: 420px) 
        {
            height: 130px;
            text-align: center;
            img
            {
                width: 100px;
            }    

            #title
            {
                font-size: 6px;
                text-align: center;
                line-height: 90%;
            }
        }

        @media screen and (min-width:421px) and (max-width: 600px)
        {
            img
            {
                width: 50px;
                margin: 0;
                padding: 0;
                float: left;
            }

            #title
            {
                h1
                {
                    margin: 0;
                    padding: 0;
                    font-size: 25px;
                    line-height: 23px;
                }
            }
        }

        @media screen and (min-width: 601px) and (max-width: 800px)
        {
            img
            {
                width: 80px;
                margin: 0;
                padding: 0;
                float: left;
            }

            #title
            {
                h1
                {
                    margin: 0;
                    padding: 0;
                    font-size: 40px;
                    line-height: 36px;
                }
            }
        }

        @media screen and (min-width: 801px)
        {
            img
            {
                width: 100px;
                margin: 0;
                padding: 0;
                float: left;
            }

            #title
            {
                h1
                {
                    margin: 0;
                    padding: 0;
                    font-size: 50px;
                    line-height: 45px;
                }
            }
        }
    }

    #menu-bar
    {
        width: 100%;
        background-color: cadetblue;
        color: white;
        padding: 10px;

        table
        {
            width: 100%;
            text-align: center;
            label
            {
                color: white;
                text-decoration: underline;

                &:hover
                {
                    opacity: 0.8;
                    cursor: pointer;
                }
                &:active
                {
                    opacity: 0.6;
                }
            }
        }
        a
        {
            color: white;
            &:hover
            {
                opacity: 0.8;
            }
            &:active
            {
                opacity: 0.6;
            }
        }

        @media screen and (max-width: 500px)
        {
            #short-menu
            {
                height: auto;
                padding: inherit;

                #acd-check
                {
                    display: none;
                }

                .stages-menu
                {
                    list-style: none;
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    line-height: 0;
                    margin: 0;
                    transition: 0.5s;
                }

                #acd-check:checked + table + .stages-menu
                {
                    visibility: visible;
                    opacity: 100%;
                    height: 150px;
                    line-height: 240%;
                }
            }
            
            #long-menu
            {
                display: none;
            }
        }

        @media screen and (min-width: 501px)
        {
            #short-menu
            {
                display: none;
            }

            #long-menu
            {
                height: auto;
                width: 100%;
                padding: 0 inherit;

                .acd-check
                {
                    display: none;
                }

                .sections-menu
                {
                    height: 0;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.5s;
                }

                // .acd-check:checked + .sections-menu
                // {
                //     height: 375px;
                //     visibility: visible;
                //     opacity: 1;
                //     margin-bottom: 5px;
                //     line-height: 240%;
                // }
            }
        }
    }


    main
    {
        padding-top: 5%;
        width: inherit;

        section
        {
            height: auto;
            color: black;
            padding: 5% 10% 0 10%; 
            
            @media screen and (max-width:600px) // for smartphones
            {
                width: 70%;
                margin: 5%;
            }
            
            @media screen and (min-width:600px) // for PCs and tablets 
            {
                width: 50%;
                margin: 2% 30% 5% 10%;
            }

            p
            {
                padding: 0 2%; 
            }

            pre
            {
                padding: 0 4%;
            }

            .stress
            {
                text-align: center;
                font-weight: bold;
                font-size: larger;
                color: red;
            }

            .code
            {
                text-align: center;
            }
            .real-code
            {
                background-color: gainsboro;
                border: solid 1px black;
                border-radius: 5px;
                margin: 2%;
                padding: 2px;
                overflow-x: scroll;
                pre
                {
                    margin: 0;
                    padding: 0 2%;
                    width: 96%;
                    overflow-x: scroll;

                    code
                    {
                        overflow-x: scroll;
                    }
                }
            }

            .index
            {
                ul
                {
                    padding: 0 10%;
                    list-style: none;
                    
                    @media screen and (max-width:1000px)
                    {
                        li
                        {
                            line-height: 250%;
                        }
                    }
                }
            }
            
            a
            {
                color: blue;
                cursor: pointer;
                &:hover
                {
                    opacity: 80%;
                    cursor: pointer;
                }
                &:active
                {
                    opacity: 70%;
                    cursor: pointer;
                }
            }
            
            img
            {
                margin: 0 5%;
                text-align: center;
            }

            .unagi
            {
                margin: 5%;
                float: left;
                width: 90%;
                
                
                @media screen and (max-width:650px)
                {
                    text-align: center;

                    img
                    {
                        margin: auto calc((100% - 100px)/2);
                        padding: 0;
                        width: 100px;
                        clear: both;
                    }

                    .balloon
                    {
                        position: relative;
                        display: inline-block;
                        margin: 1.5em 0;
                        padding: 7px 10px;
                        max-width: 100%;
                        color: #555;
                        font-size: 16px;
                        background: #FFF;
                        border: solid 3px #555;
                        box-sizing: border-box;
                        border-radius: 2px;

                        &:before
                        {
                            content: "";
                            position: absolute;
                            top: -24px;
                            left: 50%;
                            margin-left: -15px;
                            border: 12px solid transparent;
                            border-bottom: 12px solid #FFF;
                            z-index: 2;
                        }

                        &:after
                        {
                            content: "";
                            position: absolute;
                            top: -30px;
                            left: 50%;
                            margin-left: -17px;
                            border: 14px solid transparent;
                            border-bottom: 14px solid #555;
                            z-index: 1;
                        }

                        p
                        {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                @media screen and (min-width:651px)
                {
                    img
                    {
                        margin: 0;
                        padding: 0;
                        width: 100px;
                        float: left;
                    }

                    .balloon 
                    {
                        position: relative;
                        display: inline-block;
                        margin: 1.5em 0 1.5em 15px;
                        padding: 7px 10px;
                        max-width: calc(100% - 120px);
                        color: #555;
                        font-size: 16px;
                        background: #FFF;
                        border: solid 3px #555;
                        box-sizing: border-box;
                        border-radius: 2px;
                        
                        &:before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -24px;
                            margin-top: -12px;
                            border: 12px solid transparent;
                            border-right: 12px solid #FFF;
                            z-index: 2;
                        }
                        
                        &:after 
                        {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -30px;
                            margin-top: -14px;
                            border: 14px solid transparent;
                            border-right: 14px solid #555;
                            z-index: 1;
                        }
                        
                        p {
                          margin: 0;
                          padding: 0;
                        }
                    } 
                }
            }
            
            .sub-section
            {
                padding: 0;
                margin: 10% 0;
                width: 100%;
            }

            .snake-line
            {
                text-align: center;
                margin: 0;
                padding: 0;
            }
        }
        
        @media screen and (max-width: 600px)
        {
            .memo
            {
                color: gray;
            }
        }
        @media screen and (min-width: 601px)
        {
            .memo
            {
                color: black;
                text-decoration: none;
                &:hover
                {
                    cursor: pointer;
                    opacity: 50%;
                }
            }
        }

        .index
        {
            ul
            {
                padding: 0 10%;
                list-style: none;
                
                @media screen and (max-width:1000px)
                {
                    li
                    {
                        line-height: 250%;
                    }
                }
            }
        }
        & :not(.index)
        {
            ul
            {
                padding: 0 10%;
                list-style: square;
            }
        }
    }

    footer
    {
        background-color: cadetblue;
        width: inherit;
        margin: 10% 0 0 0;
        padding: 1px;
        color: white;

        @media screen and(max-width: 1250px)  // for smartphones 
        {
            height: 250px;

            .edit
            {
                margin: 10px;
                text-align: center;
                color: white;
            }

            ul
            {
                list-style: none;
                margin: 30px;
                padding: 2%;
                text-align: center;
    
                li
                {
                    margin: 10px;
                    text-align: center;
    
                    a
                    {
                        color: white;
                        cursor: pointer;
                        &:active
                        {
                            opacity: 70%;
                        }
                    }
                }
            }
        }

        @media screen and(min-width: 1251px) // for tablets and PCs
        {
            height: 180px;

            .edit
            {
                margin: 30px;
                padding: 2%;
                text-align: left;
                float: left;
                color: white;
                width: auto;
            }
    
            ul
            {
                list-style: none;
                margin: 30px;
                padding: 2%;
                text-align: center;
                float: right;
    
                li
                {
                    margin: 10px 30px;
                    text-align: center;
                    float: left;
    
                    a
                    {
                        cursor: pointer;
                        color: white;
                        &:active
                        {
                            opacity: 70%;
                        }
                    }
                }
            }
        }
    }
}