// coded by Saito-Saito-Saito
// last edited: 9/5/2020

body
{
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: auto;

    header
    {
        width: 100%;
        background-color: dimgray;
        color: white;
        position: relative;
        z-index: 1;

        @media screen and (max-width: 600px)
        {
            height: 62px;
            
            #title
            {
                width: 100%;

                h1
                {
                    margin: 0;
                    padding: 0;
                    line-height: 32px;
                    font-size: 40px;
                    cursor: default;
                }
            }
            
            ul
            {
                display: none;
            }
        }

        @media screen and(min-width:601px) and(max-width:970px)
        {
            height: 84px;

            #title
            {
                width: 100%;
                h1
                {
                    margin: 0;
                    padding: 0;
                    line-height: 42px;
                    font-size: 50px;
                    cursor: default;
                }
            }

            ul
            {
                display: none;
            }
        }

        @media screen and(min-width:971px)
        {
            height: 130px;

            #title
            {
                width: auto;
                height: 130px;
                margin: 0;
                padding: 0;
                float: left;
                
                h1
                {
                    margin: 0;
                    padding: 0;
                    line-height: 65px;
                    font-size: 75px;
                    cursor: default;
                }
            }

            ul
            {
                float: right;
                width: auto;
                margin: 20px 2px;
                padding: 0;
                
                li
                {
                    text-align: right;
                    float: left;
                    list-style: none;
                    margin: 30px 5px;
                    padding: 0;

                    a
                    {
                        color: white;
                        &:hover
                        {
                            opacity: 80%;
                        }
                        &:active
                        {
                            opacity: 70%;
                        }
                    }
                }
            }
        }
            
    }

    @media screen and (max-width:970px) 
    {
        .acd-menu
        {
            color: white;
            padding: 0;
            width: 100%;
            position: relative;

            .acd-label
            {
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;
                padding: 0 15px 0 5px;
                background-color: dimgray;
                text-align: right;
                font-size: smaller;
                transition: .5s;
                z-index: 1;
            }
            .acd-content
            {
                margin: 0;
                padding: 0;
                padding-right: 30px;
                text-align: right;
                background-color: dimgray;
                list-style: none;
                transition: .5s;
                z-index: 0;
                a
                {
                    color: white;
                    &:hover
                    {
                        opacity: 80%;
                    }
                    &:active
                    {
                        opacity: 70%;
                    }
                }
            }
            #acd-check
            {
                display: none;

                &:not(:checked) + .acd-label
                {
                    width: 60px;
                    line-height: 12px;
                    transition-delay: .5s;
                }
                &:checked + .acd-label
                {
                    width: 100%;
                    padding-right: 30px;
                    line-height: 250%;
                    transition-delay: 0;
                }
                &:not(:checked) + .acd-label + .acd-content
                {
                    visibility: hidden;
                    height: 0;
                    transition-delay: 0;
                }
                &:checked + .acd-label + .acd-content
                {
                    position: absolute;
                    top: 25px;
                    right: 0;
                    visibility: visible;
                    width: 100%;
                    height: 250px;
                    line-height: 250%;
                    transition-delay: .5s;
                }
            }
        }
    }
    @media screen and (min-width:971px) 
    {
        .acd-menu
        {
            display: none;
        }
    }
    //  for instruction
    .acd
    {
        position: relative;
        height: 150px;
        padding: 0 2%;
        #checkbox
        {
            display: none;
        }
        label
        {
            position: absolute;
            left: 2%;
            top: 0;
            a
            {
                color: blue;
            }
        }
        .contents
        {
            visibility: hidden;
        }
        #checkbox:checked + label + .contents
        {
            visibility: visible;
            position: absolute;
            top: 25px;
            left: 0;
            height: 100px;
        }
    }
    
    
    main
    {
        width: 100%;

        section
        {
            height: auto;
            color: black;
            padding: 5% 10% 0 10%; 
            
            @media screen and (max-width:600px) // for smartphones
            {
                width: 70%;
                margin: 5%;
            }
            
            @media screen and (min-width:601px) // for PCs and tablets 
            {
                width: 50%;
                margin: 2% 30% 5% 10%;
            }

            p
            {
                padding: 0 2%; 
            }

            .stress
            {
                color: red;
                font-weight: bold;
                font-size: larger;
                text-align: center;
            }

            .code
            {
                text-align: center;
            }
            
            a
            {
                color: blue;
                &:hover
                {
                    opacity: 80%;
                    cursor: pointer;
                }
                &:active
                {
                    opacity: 70%;
                    cursor: pointer;
                }
            }
            
            img
            {
                margin: 0 5%;
            }
        }

        @media screen and (max-width: 600px)
        {
            .memo
            {
                color: gray;
            }
        }
        @media screen and (min-width: 601px)
        {
            .memo
            {
                color: black;
                text-decoration: none;
                &:hover
                {
                    cursor: pointer;
                    opacity: 50%;
                }
            }
        }

        & .index
        {
            ul
            {
                padding: 0 10%;
                list-style: none;
                
                @media screen and (max-width:960px)
                {
                    li
                    {
                        line-height: 250%;
                    }
                }
            }
        }
        & :not(.index)
        {
            ul
            {
                padding: 0 10%;
                list-style: square;
            }
        }
    }

    footer
    {
        width: 100%;
        margin: 10% 0 0 0;
        padding: 1px;
        background-color: dimgray;
        color: white;

        @media screen and(max-width: 1200px)  // for smartphones 
        {
            height: 260px;

            ul
            {
                list-style: none;
                text-align: center;
                margin: 30px;
                padding: 2%;
    
                li
                {
                    margin: 10px;
                    text-align: center;
    
                    a
                    {
                        color: white;
                        cursor: pointer;
                        &:hover
                        {
                            opacity: 80%;
                        }
                        &:active
                        {
                            opacity: 70%;
                        }
                    }
                }
            }
        }

        @media screen and(min-width: 1200px) // for tablets and PCs
        {
            height: 180px;
            
            ul
            {
                list-style: none;
                margin: 30px;
                padding: 2%;
                text-align: center;
    
                li
                {
                    margin: 10px 30px;
                    text-align: center;
                    float: left;
    
                    a
                    {
                        cursor: pointer;
                        color: white;
                        &:hover
                        {
                            opacity: 80%;
                        }
                        &:active
                        {
                            opacity: 70%;
                        }
                    }
                }
            }
        }
    }
}